.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns-container.red-button picture img {
  width: auto;
}

.columns-container.red-button a.button {
  background-color: #ec1c24;
  font-style: italic !important;
}

.section.img-full.column-container {
  padding: 0 !important;
}

.section.img-full.column-container > .column-wrapper {
  max-width: none;
}

.section.img-full.column-container picture img {
  width: 100%;
}

.section.img-full.bg-darkblue {
  background-color: #102140;
  color: white;
  padding: 15rem 0;
}

.section.img-full.bg-darkblue h4 {
  margin: 5px;
  font-family: 'Montserrat';
}

.section.insights-magazine.columns-container {
  padding: 0;
  background-color: #f7f7f7;
}

.section.insights-magazine.columns-container .columns-wrapper {
  width: 100%;
  max-width: unset;
}

@media (width <= 768px) {
  .section.img-full.bg-darkblue.columns-container .columns-wrapper .columns-1-cols > div > div {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.section.insights-magazine.columns-container .columns.block.columns-2-cols > div > div:nth-child(1) {
  margin-left: 15rem;
}

.section.insights-magazine.columns-container .columns.block.columns-2-cols > div > div {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section.insights-magazine.columns-container .columns-img-col { 
  background-color: #ec1c24;
}

.section.insights-magazine p,
.section.red-button.columns-container.insights-magazine p
.section.red-button.columns-container.insights-magazine h3,
.section.red-button.columns-container.insights-magazine h4 {
  font-family: 'Montserrat' !important;
}

.section.red-button.columns-container.insights-magazine h3 {
  margin: 0;
}
